* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body  {
    background-color: blueviolet;

}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

h1 {
    font-size: 2em;
    color: rgba(58, 0, 122);
}

h2 {
    font-size: 2em;
    color: rgba(58, 0, 122);
}
img.lado{
    float: right;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(58, 0, 122);
}
a:hover{
text-decoration: underline;
color: rgba(26, 26, 255);
}
